<div class="col-lg-8 feed">
  <nav>
    <div class="searchform">
      <div id="mainsearch">
        <input type="text" name="searchbar" placeholder="Search" />
        <i class="fa fa-search fa-lg"></i>
        <a class="btn btn-primary" id="new-post-toggle"><i class="fa fa-plus fa-lg"></i></a>
      </div>
    </div>
  </nav>

  <div id="new-post" style="display:none;">
    <form>
      <input type="text" name="title" placeholder="SKILL" />
      <input type="text" name="points" placeholder="POINTS" />
      <textarea name="description" placeholder="DESCRIPTION"></textarea>
      <input type="text" name="location" placeholder="LOCATION" />
      <input type="submit" value="ADD">
    </form>
  </div>

  <div class="filter-group">
    <a class="btn selected">LOCAL</a>
    <a class="btn">RELEVANT</a>
    <a class="btn">ABC</a>
  </div>

  <div class="post">
    <div class="row">
      <div class="col-lg-2">
        <img class="avatar" src="http://placehold.it/100x100" />
      </div>
      <div class="col-lg-6">
        <h1>OIL CHANGE <span class="date">05.03.14</span></h1>
        <p class="task">"I want to learn how to change my car's oil!"</p>
        <p class="poster">Submitted by: <span>Justin Boh</span></p>
        <div class="rating">
          <i class="fa fa-star select"></i>
          <i class="fa fa-star select"></i>
          <i class="fa fa-star select"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
      </div>
      <div class="col-lg-4 bounty">
        <p>25</p>
        <p>Points</p>
      </div><!-- end bounty -->
  </div><!-- end row -->
  </div><!-- end post -->

  <div class="post">
    <div class="row">
      <div class="col-lg-2">
        <img class="avatar" src="http://placehold.it/100x100" />
      </div>
      <div class="col-lg-6">
        <h1>OIL CHANGE <span class="date">05.03.14</span></h1>
        <p class="task">"I want to learn how to change my car's oil!"</p>
        <p class="poster">Submitted by: <span>Justin Boh</span></p>
        <div class="rating">
          <i class="fa fa-star select"></i>
          <i class="fa fa-star select"></i>
          <i class="fa fa-star select"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
      </div>
      <div class="col-lg-4 bounty">
        <p>25</p>
        <p>Points</p>
      </div><!-- end bounty -->
  </div><!-- end row -->
  </div><!-- end post -->

  <div class="post">
    <div class="row">
      <div class="col-lg-2">
        <img class="avatar" src="http://placehold.it/100x100" />
      </div>
      <div class="col-lg-6">
        <h1>OIL CHANGE <span class="date">05.03.14</span></h1>
        <p class="task">"I want to learn how to change my car's oil!"</p>
        <p class="poster">Submitted by: <span>Justin Boh</span></p>
        <div class="rating">
          <i class="fa fa-star select"></i>
          <i class="fa fa-star select"></i>
          <i class="fa fa-star select"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
      </div>
      <div class="col-lg-4 bounty">
        <p>25</p>
        <p>Points</p>
      </div><!-- end bounty -->
  </div><!-- end row -->
  </div><!-- end post -->

  <div class="post">
    <div class="row">
      <div class="col-lg-2">
        <img class="avatar" src="http://placehold.it/100x100" />
      </div>
      <div class="col-lg-6">
        <h1>OIL CHANGE <span class="date">05.03.14</span></h1>
        <p class="task">"I want to learn how to change my car's oil!"</p>
        <p class="poster">Submitted by: <span>Justin Boh</span></p>
        <div class="rating">
          <i class="fa fa-star select"></i>
          <i class="fa fa-star select"></i>
          <i class="fa fa-star select"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
      </div>
      <div class="col-lg-4 bounty">
        <p>25</p>
        <p>Points</p>
      </div><!-- end bounty -->
  </div><!-- end row -->
  </div><!-- end post -->

  <div class="post">
    <div class="row">
      <div class="col-lg-2">
        <img class="avatar" src="http://placehold.it/100x100" />
      </div>
      <div class="col-lg-6">
        <h1>OIL CHANGE <span class="date">05.03.14</span></h1>
        <p class="task">"I want to learn how to change my car's oil!"</p>
        <p class="poster">Submitted by: <span>Justin Boh</span></p>
        <div class="rating">
          <i class="fa fa-star select"></i>
          <i class="fa fa-star select"></i>
          <i class="fa fa-star select"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
      </div>
      <div class="col-lg-4 bounty">
        <p>25</p>
        <p>Points</p>
      </div><!-- end bounty -->
    </div><!-- end row -->
  </div><!-- end post -->
</div><!-- end feed -->