<div class="user-forms">
  <button id="sign-up-toggle" class="btn btn-primary">SIGN UP</button>
  <button id="sign-in-toggle" class="btn btn-primary">LOG IN</button>
</div>

<div id="sign-up" style="display:none;">
  <form>
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="email" placeholder="Email" />
    <input type="text" name="password" placeholder="Password" />
    <input type="text" name="password_confirmation" placeholder="Confirm Password" />
    <input type="submit" value="GO" />
  </form>
</div>

<div id="sign-in" style="display:none;">
  <form>
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="password" placeholder="Password" />
    <input type="submit" value="GO" />
  </form>
</div>