html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

header {

  .btn {
    color: darken(@color-second, 40%);
    font-size: 1.2em;
    background-color: @color-second;
    .rounded(15px);
  }
}

.profile-posts {
a {
  color: @color-base;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
}

.filter-group {

  a {
    margin-top: 10px;
    padding-left: 0;
    color: @grey;
    font-weight: bold;
    .opacity(.5);

    &:before {
      content: '\f111\00a0';
      color: @color-base;
      font-family: FontAwesome;
      .opacity(.5);
    }

    &.selected,
    &:hover {
      .opacity(1);

      &:before {
        .opacity(1);
      }
    }
  }
}

#mainsearch {

  input {
    width: 90%;
    padding: 7px;
    background-color: rgba(209, 240, 233, .5);
    border: 2px solid @color-second;
    .rounded(15px);

    & + i {
      position: relative;
      left: -35px;
      .opacity(.3);
    }
  }

  a {
    background-color: @color-second;

    i {
      color: #fff;
    }
  }
}

.user-forms {
  margin-top: 4.5em;

  .btn {
    font-weight: bold;
    background-color: @color-second;
    .rounded(13px);
  }
}

#user-info {
  margin-top: 4.5em;
  padding: 7px;
  color: #fff;
  background-color: fade(@color-second, 50%);
  font-size: 1.2em;
  font-weight: bold;
  .rounded(10px);

  a {
    padding-left: 5px;
    padding-right: 5px;
    background-color: @color-second;
  }
}

footer {
  z-index: -1000;
  position: fixed;
  bottom: 0px;

  img {
    width: 100%;
    height: auto;
  }
}
