form {
    margin-top: 10px;
    padding: 10px;
    background-color: fade(@color-base, 50%);
    .rounded(10px);
    .ph(@color-base);

    input,
    textarea {
      color: @color-base;
      margin-bottom: 7px;
      padding: 7px;
      background: #fff;
      border: 1px solid #fff;
      .rounded(10px);
      .drop-shadow(0, 0, 0, 0);
    }

    input[name=title] {
      width: 100%;
    }

    input[name=location] {
      width: 84%;
    }

    textarea {
      width: 100%;
    }

    input[name=points],
    input[type=submit] {
      width: 15%;
    }

    input[type=submit] {
      color: #fff;
      background-color: @color-second;
      border: none;
    }
}

#sign-up,
#sign-in {

  input {
    width: 100%;

    .selected {
      background-color: fade(@color-second, 40%);
    }
  }
}

#edit-user-form {

  label {
    margin-left: 10px;

    &:nth-child(6) {
      margin-left: 0;
    }
  }

  input {
    width: 100%;
  }

  input[name=city],
  input[name=state] {
    width: 49%;
  }

  input[type=checkbox] {
    width: initial;
  }

  select {
    margin-right: 10px;
  }

  input[type=submit] {
    margin-top: 10px;
  }
}
