<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Edit Account</title>

  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
  <link rel="stylesheet" href="css/styles.css" type="text/css" />
</head>
<body>
    <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <header>
          <div id="logo">
            <img src="images/logo.png" alt="Divvy Logo">
          </div>
        </header><!-- header -->
      </div><!-- end col-lg-2 -->

      <div class="col-lg-8">
        <form role="form" id="edit-user-form">

          <input type="text" name="name" placeholder="Name">

          <input type="text" name="email" placeholder="Email">

          <input type="text" name="city" placeholder="City">

          <input type="text" name="state" placeholder="State">

        <div id="skills"></div>

        <input class="btn btn-primary" type="submit" value="Submit" />

        </form>
      </div>

    </div><!-- end row -->
  </div><!-- end container -->

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="js/skills.js"></script>
</body>
</html>